<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>მთავარი გვერდი</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1 class="main-title">შენ იმყოფები მთავარ გვერდზე</h1>

    <div class="image-container">
        <img class="main-image" src="https://www.fullstackpython.com/img/logos/py.png" alt="Python Logo">
    </div>

</body>
</html>